<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>aps-environment</key>
    <string>development</string>

    <key>com.apple.developer.nfc.readersession.formats</key>
    <array>
        <string>TAG</string>
        <!-- Add this if reading NFC tags -->
      <!-- Add this for NFC smart cards -->
    </array>


    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.com.reshuffle.widget</string>
    </array>

    <key>keychain-access-groups</key>
    <array>
        <string>$(AppIdentifierPrefix)group.com.reshuffle.widget</string>
        <string>$(AppIdentifierPrefix)com.srijan.Reshuffle</string>
    </array>
</dict>
</plist>
